body {
    font-family: Arial, sans-serif;
    background: #f0f4f8;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weatherForm {
    margin-bottom: 20px;
  }
  
  .cityInput {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border:none;
    outline: none;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(206, 255, 133);
    border: 1px solid grey;
  }
  
  .card {
    background: linear-gradient(180deg ,rgba(101, 206, 238, 0.74),rgba(230, 198, 130, 0.795)) ;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  .tempDisplay {
    font-size: 2em;
    margin: 10px 0;
  }
  
  .weatherEmoji {
    font-size: 3em;
    margin: 10px 0;
  }
  
  .errorDisplay {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  